[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mfpp"]
	path = mfpp
	url = https://github.com/kzst/mfpp
[submodule "mxcc"]
	path = mxcc
	url = https://github.com/kzst/mxcc
[submodule "nda"]
	path = nda
	url = https://github.com/kzst/nda
[submodule "neutrostat"]
	path = neutrostat
	url = https://github.com/kzst/neutrostat
[submodule "pbcc"]
	path = pbcc
	url = https://github.com/kzst/pbcc
[submodule "rbcc"]
	path = rbcc
	url = https://github.com/kzst/rbcc
